.block1{
    width: 100%;
    padding: 10px;
    background-color:gainsboro;
    font-size: 25px;
    box-sizing: border-box;
    text-align: center;
}
h2{
    color:darkblue;
    font-size: 20px;
    margin: 0%;
}
.main{
    color:darkblue;
    font-size: 20px;  
}

p{
    color: darkblue;   
}

table{
    color: darkblue;
}

th{
    background-color: lightgrey;
}